# CityBikes

Send a request to CityBikes for the city of your choice.

In [3]:
import pandas as pd
import requests # this will be used to call the APIs

url = "http://api.citybik.es/v2/networks/velo2"
response = requests.request("GET", url)
    
if response.status_code == 200:
  print("Success")
else:
  print("None")
data=response.json()
data['network']['stations'][0]

Success

{'empty_slots': 11,
 'extra': {'address': 'RUE DES LILAS ANGLE BOULEVARD DU PORT 95000 CERGY',
  'banking': False,
  'bonus': False,
  'has_ebikes': False,
  'last_update': '2023-12-21T05:50:09Z',
  'slots': 16,
  'status': 'OPEN',
  'uid': 50019},
 'free_bikes': 5,
 'id': '4ef5c350be7138fbf992b50338a68607',
 'latitude': 49.034625,
 'longitude': 2.067596,
 'name': '50019 - CER19 - RUE DES LILAS',
 'timestamp': '2023-12-21T05:57:43.165000Z'}

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [9]:
def parse_response(response):
  if 'network' in response:
    network_info = response['network']
    city = network_info['location']['city']
    stations = network_info.get('stations', [])
    
    bike_station_information = []
    
    for station in stations:
      station_info = {
        'City': city,
        'Latitude': station['latitude'],
        'Longitude': station['longitude'],
        'Number of Bikes': station['free_bikes']
      }
      bike_station_information.append(station_info)

    return bike_station_information
  else:
    print("Invalid response format")
    return None

Put your parsed results into a DataFrame.

In [11]:
bike_station_information = parse_response(data)
bike_station_information_df = pd.DataFrame(bike_station_information)
bike_station_information_df
%store bike_station_information_df
bike_station_information_df

Stored 'bike_station_information_df' (DataFrame)

     City   Latitude  Longitude  Number of Bikes
0   Cergy  49.034625   2.067596               12
1   Cergy  49.036320   2.079568                0
2   Cergy  49.017697   2.099417                4
3   Cergy  49.044092   2.036546                8
4   Cergy  49.030665   2.083067               14
5   Cergy  49.035511   2.061921               12
6   Cergy  49.052785   2.017956                4
7   Cergy  49.038058   2.070534               10
8   Cergy  49.044395   2.090632                6
9   Cergy  49.038874   2.076405                2
10  Cergy  49.043583   2.084808                6
11  Cergy  49.018057   2.091026                5
12  Cergy  49.042999   2.029687                4
13  Cergy  49.043284   2.068934                8
14  Cergy  49.031214   2.061506               13
15  Cergy  49.048246   2.011238                7
16  Cergy  49.030106   2.021573                4
17  Cergy  49.011216   2.098463                4
18  Cergy  49.024210   2.103268                7
19  Cergy  49.032107   2.074345                7
20  Cergy  49.046868   2.013620                7
21  Cergy  49.014534   2.078945                8
22  Cergy  49.049401   2.017075                4
23  Cergy  49.049300   2.035223                9
24  Cergy  49.046588   2.045120                6
25  Cergy  49.032141   2.087802               15
26  Cergy  49.023163   2.029486                2
27  Cergy  49.042318   2.019580                7
28  Cergy  49.048957   2.026947                4
29  Cergy  49.041233   2.075956                6
30  Cergy  49.051599   2.036105                2
31  Cergy  49.023837   2.022595                7
32  Cergy  49.043224   2.060405                6
33  Cergy  49.047781   2.103038                8
34  Cergy  49.051104   2.069419                5
35  Cergy  49.023065   2.110460                2
36  Cergy  49.050988   2.057324                6
37  Cergy  49.032230   2.101656               10
38  Cergy  49.032934   2.020312                3
39  Cergy  49.045223   2.002507                3
40  Cergy  49.027239   2.077178                3
41  Cergy  49.046249   2.105710                4
42  Cergy  49.047619   2.096823                9
43  Cergy  49.044831   2.053462                4