# CityBikes

Send a request to CityBikes for the city of your choice.

In [3]:
import pandas as pd
import requests # this will be used to call the APIs

url = "http://api.citybik.es/v2/networks/velo2"
response = requests.request("GET", url)
    
if response.status_code == 200:
  print("Success")
else:
  print("None")
data=response.json()
data['network']['stations'][0]

Success

{'empty_slots': 11,
 'extra': {'address': 'RUE DES LILAS ANGLE BOULEVARD DU PORT 95000 CERGY',
  'banking': False,
  'bonus': False,
  'has_ebikes': False,
  'last_update': '2023-12-21T05:50:09Z',
  'slots': 16,
  'status': 'OPEN',
  'uid': 50019},
 'free_bikes': 5,
 'id': '4ef5c350be7138fbf992b50338a68607',
 'latitude': 49.034625,
 'longitude': 2.067596,
 'name': '50019 - CER19 - RUE DES LILAS',
 'timestamp': '2023-12-21T05:57:43.165000Z'}

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [5]:
def parse_response(response):
  if 'network' in response:
    network_info = response['network']
    city = network_info['location']['city']
    stations = network_info.get('stations', [])
    
    bike_station_information = []
    
    for station in stations:
      station_info = {
        'City': city,
        'Latitude': station['latitude'],
        'Longitude': station['longitude'],
        'Number of Bikes': station['free_bikes']
      }
      bike_station_information.append(station_info)

    return bike_station_information
  else:
    print("Invalid response format")
    return None

Put your parsed results into a DataFrame.

In [6]:
bike_station_information = parse_response(data)
bike_station_information_df = pd.DataFrame(bike_station_information)
bike_station_information_df
%store bike_station_information_df
bike_station_information_df.head(10)

Stored 'bike_station_information_df' (DataFrame)

    City   Latitude  Longitude  Number of Bikes
0  Cergy  49.034625   2.067596                5
1  Cergy  49.036320   2.079568                3
2  Cergy  49.017697   2.099417                5
3  Cergy  49.044092   2.036546                6
4  Cergy  49.030665   2.083067                9
5  Cergy  49.035511   2.061921                7
6  Cergy  49.052785   2.017956                5
7  Cergy  49.038058   2.070534                6
8  Cergy  49.044395   2.090632                9
9  Cergy  49.038874   2.076405               15