Build a regression model.

Before building the model I want to better classify the POI

In [47]:
%store -r bike_station_information_df
%store -r yelp_result_df
%store -r fourSquare_result_df
%store -r final_df

final_df = final_df

  
def categorize(category):
  # Restaurants
  if any(keyword in category for keyword in ['Bakery', 'Restaurant', 'French', 'Japanese', 'Pizza', 'Indian', 'Pan Asian', 'Moroccan', 'Thai', 'Bistros', 'Pizzeria', 'Burger Joint', 'Steakhouses', 'Italian', 'Seafood', 'Mexican', 'Chinese', 'Fast Food']):
    return 'Restaurant'
  
  # Bars and Lounges
  elif any(keyword in category for keyword in ['Bar', 'Pub', 'Lounge']):
    return 'Bar/Lounge'
  
  # Health Centers
  elif any(keyword in category for keyword in ['Hospital', 'Health', 'Drugstore']):
    return 'Health Center'
  
  # Retails
  elif any(keyword in category for keyword in ['Computers and Electronics Retail', 'Store', 'Shop', 'Retail', 'Bookstore', 'Botanical Gardens']):
    return 'Retail'
  
  # Education
  elif any(keyword in category for keyword in ['School', 'Education', 'Library']):
    return 'Education'
  
  # Entertainment
  elif any(keyword in category for keyword in ['Music Venue', 'Theater', 'Cinema', 'Arts and Entertainment', 'Paintball Field']):
    return 'Entertainment'
  
  # Home Services
  elif any(keyword in category for keyword in ['Carpenter', 'Home Improvement Service', 'Electrician', 'Plumber', 'Interior Designer', 'Roof Deck', 'Heating, Ventilating and Air Conditioning Contractor']):
    return 'Home Services'
  
  # Landmarks and Historical Buildings
  elif any(keyword in category for keyword in ['Monument', 'Scenic Lookout', 'Park', 'Landmarks & Historical Buildings', 'Lakes']):
    return 'Landmarks & Historical Buildings'
  
  # Business and Professional Services
  elif any(keyword in category for keyword in ['Management Consultant', 'Business and Professional Services', 'Employment Agency', 'Organization', 'Professional Cleaning Service', 'Accounting and Bookkeeping Service']):
    return 'Business Services'
  
  # Other Services
  elif any(keyword in category for keyword in ['Computer Repair Service', 'Audiovisual Service', 'Post Office', 'Utility Company']):
    return 'Other Services'
  
  elif 'N/A' in category:
    return 'N/A'
  
  # Miscellaneous
  else:
    return 'Miscellaneous'


final_df['GroupedCategory'] = final_df['Category'].apply(categorize)

# Checking for all unique values in the 'grouped Category' column
unique_new_categories = final_df['GroupedCategory'].unique()
print(unique_new_categories)


final_df[final_df['Key'] == 0]

['Education' 'Retail' 'Restaurant' 'N/A' 'Health Center' 'Bar/Lounge'
 'Other Services' 'Miscellaneous' 'Landmarks & Historical Buildings'
 'Business Services' 'Home Services' 'Entertainment']

,City,Latitude,Longitude,Number of Bikes,Key,Name,Category,Distance,Rating,GroupedCategory
0,Cergy,49.034625,2.067596,12,0,Ecole de biologie industrielle,Education,259.000000,NaN,Education
1,Cergy,49.034625,2.067596,12,0,Esprit Clean,Fashion Accessories Store,283.000000,NaN,Retail
2,Cergy,49.034625,2.067596,12,0,Le Millésime du Port,French Restaurant,634.000000,NaN,Restaurant
3,Cergy,49.034625,2.067596,12,0,La Taverne des Rois,Restaurant,648.000000,NaN,Restaurant
4,Cergy,49.034625,2.067596,12,0,Au Fourmont Village,Bakery,359.000000,NaN,Restaurant
5,Cergy,49.034625,2.067596,12,0,Moulin Vert Lava'9,N/A,391.000000,NaN,N/A
6,Cergy,49.034625,2.067596,12,0,SAN MARINA Cergy,N/A,394.000000,NaN,N/A
7,Cergy,49.034625,2.067596,12,0,École Maternelle Publique le Village,Elementary School,397.000000,NaN,Education
8,Cergy,49.034625,2.067596,12,0,France Depannage Auto,Miscellaneous Store,425.000000,NaN,Retail
9,Cergy,49.034625,2.067596,12,0,Pharmacie des Trois Gares,Drugstore,448.000000,NaN,Health Center
440,Cergy,49.034625,2.067596,12,0,La Rotisserie Ô,French,500.015071,4.5,Restaurant
441,Cergy,49.034625,2.067596,12,0,Hippopotamus,Steakhouses,592.851567,2.5,Restaurant
442,Cergy,49.034625,2.067596,12,0,La Cavallina,Italian,496.288387,5.0,Restaurant
443,Cergy,49.034625,2.067596,12,0,Les Relais d'Alsace,French,638.741161,4.0,Restaurant
444,Cergy,49.034625,2.067596,12,0,O'Sullivans,Pubs,823.376072,3.0,Bar/Lounge
445,Cergy,49.034625,2.067596,12,0,Ici et Ailleurs,French,1121.515453,4.0,Restaurant
446,Cergy,49.034625,2.067596,12,0,Le Port d'Asie,Thai,495.942094,4.0,Restaurant
447,Cergy,49.034625,2.067596,12,0,Au festival de la Moule,Seafood,518.464532,3.0,Restaurant
448,Cergy,49.034625,2.067596,12,0,Relais d'alsace,French,625.861077,3.0,Restaurant
449,Cergy,49.034625,2.067596,12,0,Le Latino,Mexican,489.924766,1.0,Restaurant

In [46]:
import pandas as pd

# Creating a new dataframe using information from the combined dataframe (final_df)
grouped_df = pd.pivot_table(final_df, 
                            index=['Key', 'Number of Bikes', 'Latitude', 'Longitude'],
                            columns='GroupedCategory', 
                            values='Category', 
                            aggfunc='count', 
                            fill_value=0).reset_index()
grouped_df.columns.name = None

grouped_df

,Key,Number of Bikes,Latitude,Longitude,Bar/Lounge,Business Services,Education,Entertainment,Health Center,Home Services,Landmarks & Historical Buildings,Miscellaneous,N/A,Other Services,Restaurant,Retail
0,0,12,49.034625,2.067596,1,0,2,0,1,0,0,0,2,0,12,2
1,1,0,49.036320,2.079568,6,0,0,0,0,0,0,2,0,1,6,5
2,2,4,49.017697,2.099417,0,0,3,0,1,0,0,5,0,1,6,3
3,3,8,49.044092,2.036546,0,1,1,0,0,1,4,7,0,2,4,0
4,4,14,49.030665,2.083067,3,2,3,0,0,0,0,6,0,0,6,0
5,5,12,49.035511,2.061921,0,0,1,0,1,0,0,1,1,0,12,4
6,6,4,49.052785,2.017956,0,0,1,0,1,1,0,6,0,0,8,3
7,7,10,49.038058,2.070534,4,1,0,1,0,0,0,1,1,0,11,1
8,8,6,49.044395,2.090632,2,0,2,2,1,0,0,8,0,0,5,0
9,9,2,49.038874,2.076405,5,1,0,0,0,0,0,3,0,0,5,6
10,10,6,49.043583,2.084808,2,0,1,2,0,0,0,7,1,0,6,1
11,11,5,49.018057,2.091026,0,0,1,0,0,0,0,5,1,1,8,3
12,12,4,49.042999,2.029687,0,1,1,0,0,1,2,8,1,2,4,0
13,13,8,49.043284,2.068934,3,0,1,1,0,0,0,3,1,0,9,2
14,14,13,49.031214,2.061506,4,0,0,0,1,0,1,0,0,0,12,2
15,15,7,49.048246,2.011238,0,1,0,1,2,0,0,5,0,1,8,2
16,16,4,49.030106,2.021573,0,0,0,1,1,0,0,3,0,0,11,4
17,17,4,49.011216,2.098463,0,1,0,0,1,1,0,2,1,1,10,1
18,18,7,49.024210,2.103268,1,0,1,0,0,3,0,5,1,1,7,1
19,19,7,49.032107,2.074345,5,0,1,0,0,0,0,1,1,1,7,4
20,20,7,49.046868,2.013620,0,1,1,1,2,0,0,4,0,1,8,2
21,21,8,49.014534,2.078945,0,0,0,2,0,3,0,2,0,1,5,3
22,22,4,49.049401,2.017075,0,1,2,1,1,0,0,6,0,0,8,1
23,23,9,49.049300,2.035223,1,0,3,0,1,0,1,7,0,1,5,1
24,24,6,49.046588,2.045120,0,0,1,1,0,2,2,6,1,0,5,2
25,25,15,49.032141,2.087802,3,2,2,0,0,0,1,6,0,0,6,0
26,26,2,49.023163,2.029486,0,0,3,0,0,1,0,3,1,1,7,3
27,27,7,49.042318,2.019580,1,0,3,1,0,1,0,5,1,0,8,0
28,28,4,49.048957,2.026947,2,0,4,0,1,0,1,5,0,1,6,0
29,29,6,49.041233,2.075956,4,0,0,2,0,0,0,3,0,0,7,4
30,30,2,49.051599,2.036105,1,0,2,0,1,1,0,5,2,1,6,1
31,31,7,49.023837,2.022595,0,1,4,0,0,0,0,3,0,1,8,2
32,32,6,49.043224,2.060405,1,0,2,0,0,0,1,4,3,0,7,2
33,33,8,49.047781,2.103038,1,0,0,0,2,1,0,6,0,1,8,1
34,34,5,49.051104,2.069419,1,0,2,2,0,0,0,3,1,0,5,2
35,35,2,49.023065,2.110460,1,1,2,0,0,2,0,3,1,1,6,0
36,36,6,49.050988,2.057324,0,0,3,1,0,0,0,3,1,0,2,3
37,37,10,49.032230,2.101656,1,0,0,0,0,1,0,7,0,0,6,5
38,38,3,49.032934,2.020312,0,0,1,0,1,0,1,5,0,0,9,3
39,39,3,49.045223,2.002507,0,1,2,1,0,0,0,5,1,1,7,2
40,40,3,49.027239,2.077178,0,1,3,0,0,0,0,8,0,0,6,2
41,41,4,49.046249,2.105710,2,1,0,0,1,1,0,6,1,0,8,0
42,42,9,49.047619,2.096823,1,1,0,0,1,0,0,4,0,1,11,1
43,43,4,49.044831,2.053462,0,0,2,1,0,1,1,2,1,0,3,2

Provide model output and an interpretation of the results.

In [48]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

X = grouped_df[['Latitude', 'Longitude', 'Bar/Lounge', 'Business Services', 'Education', 'Entertainment',
        'Health Center', 'Home Services', 'Landmarks & Historical Buildings', 'Miscellaneous', 'N/A',
        'Other Services', 'Restaurant', 'Retail']]
y = grouped_df['Number of Bikes']

X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Number of Bikes   R-squared:                       0.419
Model:                            OLS   Adj. R-squared:                  0.139
Method:                 Least Squares   F-statistic:                     1.494
Date:                Tue, 12 Dec 2023   Prob (F-statistic):              0.175
Time:                        23:10:12   Log-Likelihood:                -103.92
No. Observations:                  44   AIC:                             237.8
Df Residuals:                      29   BIC:                             264.6
Df Model:                          14
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
const                            -3443.9557   3810.349     -0.904      0.374   -1.12e+04    4349.083
Latitude                            67.6568     76.981      0.879      0.387     -89.788     225.101
Longitude                           58.3195     27.361      2.131      0.042       2.360     114.279
Bar/Lounge                           0.1885      0.490      0.385      0.703      -0.814       1.191
Business Services                    1.9060      1.358      1.404      0.171      -0.871       4.683
Education                            1.4805      1.001      1.478      0.150      -0.568       3.529
Entertainment                        1.4178      1.265      1.121      0.272      -1.170       4.005
Health Center                        0.5133      1.409      0.364      0.718      -2.369       3.396
Home Services                        0.8384      1.086      0.772      0.446      -1.383       3.060
Landmarks & Historical Buildings     2.4324      1.061      2.292      0.029       0.262       4.603
Miscellaneous                       -0.1189      0.377     -0.315      0.755      -0.890       0.653
N/A                                 -0.6008      1.037     -0.579      0.567      -2.723       1.521
Other Services                      -0.7415      1.157     -0.641      0.527      -3.108       1.625
Restaurant                           1.0435      0.485      2.151      0.040       0.051       2.036
Retail                               0.4519      0.826      0.547      0.588      -1.237       2.141
==============================================================================
Omnibus:                        1.597   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.450   Jarque-Bera (JB):                1.192
Skew:                           0.156   Prob(JB):                        0.551
Kurtosis:                       2.256   Cond. No.                     3.99e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.99e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

The R-squared value of 0.419 indicates that the model explains 41.9% of the variability in the Number of Bikes. However, the lower Adjusted R-squared value (0.139) suggests that not all included variables are contributing significantly to the model.

Among the independent varaibles, only Longitude, Landmarks and Historical buildings and restaurant have a P value less than 0.05 which would suggest that these variables may have a statistically significant relationship with the Number of Bikes. Variables with p-values greater than 0.05 may not be contributing significantly and could be considered for removal from the model. 

The latitude and longitude seem to have the highest coefficient value which would suggest they have an higher impact on the number of bikes

# Stretch

How can you turn the regression model into a classification model?